.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    gap: 40px;
    border: solid 1px rgb(188, 188, 188);
    padding: 0px 20px 0px 0px;
}

.cart-item-image {
    width: 200px;
    height: 120px;
    object-fit: cover;
}

.item-description {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.item-description > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-description h4 {
    color: rgb(77, 77, 77);
}

.info-display {
    display: flex;
    align-items: center;
}

.info-display > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-display h6 {
    color: rgb(99, 99, 99);
}

.summary {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.summary > div {
    display: flex;
    gap: 60px;
}

.info-display button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.info-display i {
    transform: scale(1.5);
}

.info-display button:hover i {
    color: rgb(73, 73, 73);
}