.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.product-form label {
    font-size: 18px;
    font-weight: 700;
}

.product-form input {
    width: 500px;
    height: 30px;
    font-size: 18px;
    border: 1.5px solid rgb(155, 155, 155);
    outline: none;
    padding: 0px 10px;
}

.product-form input:focus {
    border: 1.5px solid rgb(0, 0, 0);
}

.product-form textarea {
    width: 500px;
    height: 100px;
    font-size: 18px;
    border: 1.5px solid rgb(155, 155, 155);
    outline: none;
    padding: 10px 10px;
}

.product-form textarea:focus {
    border: 1.5px solid rgb(0, 0, 0);
}

.product-form {
    margin-top: 30px;
}

.product-form button {
    font-size: 18px;
    padding: 10px 25px;
    background-color: rgb(86, 0, 129);
    color: rgb(211, 211, 211);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.product-form button:hover {
    background-color: rgb(123, 1, 184);
}
