* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    height: 50px;
    background-color: rgb(86, 0, 129);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 0px 20px;
}

nav a {
    color: rgb(211, 211, 211);
    text-decoration: none;
    font-size: 18px;
}

nav li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-active {
    color: rgb(206, 192, 0);
}

.container {
    width: 90%;
    margin: 0px auto;
}

.product-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.product-title {
    font-size: 4rem;
    margin-bottom: 30px;
}

.product-amount {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.product-detail .controls {
    width: 80%;
    display: flex;
    gap: 10px;
}

.product-detail button {
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    background-color: rgb(86, 0, 129);
    color: white;
    border: none;
    cursor: pointer;
}

.product-detail button:hover {
    background-color: rgb(123, 1, 184);
}

.product-image {
    height: 450px;
    width: 600px;
    object-fit: contain;
}

.product-instances-in-cart {
    margin-bottom: 15px;
}

#logout {
    color: rgb(211, 211, 211);
    font-size: 18px;
    font-family: serif;
    width: 100%;
    height: 30px;
    background-color: rgb(86, 0, 129);
    border: none;
    cursor: pointer;
}

#logout:hover {
    background-color: rgb(86, 0, 129);
}

.hidden {
    display: none;
}
